{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: 'Alex Brush';
	font-size: 1.2rem;
	min-height: 100%;
	background-color: cadetblue;
}

.grid-container {
	display: grid;
	grid-gap: 10px;

	grid-template:
		"H" 
		"N"
		"M" 
		"A" 
		"F";
}

.grid-container > * {
	box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}

header {
	grid-area:H;
	background-color: burlywood;
}
nav {
	grid-area:N;
	background-color: lightblue;
}
section {
	grid-area:M;
	background-color: lightgrey;
}
aside {
	grid-area:A;
	background-color: lightsalmon;
}
footer {
	grid-area:F;
	background-color: gray;
}

@media (min-width: 640px;) {
	.grid-container {
		grid-template:
		"H  H" 3rem
		"N  N" 2rem
		"M  A" auto
		"F  F" 3rem
		65% 35% 
		;
	}
}


@media (min-width: 768px;) {
	.grid-container {
		grid-template:
		"H  H  H" 4rem
		"N  M  A" auto
		"F  F  F" 3rem
		20% 50% 30%
		;
	}
}
/*----------------------
  Rosa Martínez
  ----------------------*/